<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update Password</title>
</head>

<body>
    {% block bootstaplink %}
    {% include  '.\design\boostraplink.html' %}
    {% endblock %}
    {% block navbar %}
    {% include  '.\design\navbar.html' %}
    {% endblock %}

    <div class="container">
        <div class="avatar" style="margin-top: 50px">
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-10 col-lg-offset-3">
                <!--Add Account Card-->
                <div class="col-md-8 mb-4" style="margin: auto;">
                    <div style=" border: 1px solid grey">
                        <div class="card" style="margin-left:1px;">
                            <div class="card-header">
                                <h4>Profile</h4>
                            </div>
                        </div>

                        <div class="card-body">
                            <form role="Form" method="POST" action="updatepassword" accept-charset="UTF-8">
                                {% csrf_token %}

                                <div class="form-group">
                                    <label htmlFor="aboutProfile">Old Password</label>
                                    <input type="password" name="oldpassword" placeholder="Old Password..."
                                        class="form-control">
                                </div>
                                <div class="form-group">
                                    <label htmlFor="aboutProfile">Old Password Confirm</label>
                                    <input type="password" name="oldpasswordconfirm" placeholder="Old Password Confirm..."
                                        class="form-control">
                                </div>
                                <div class="form-group">
                                    <label htmlFor="aboutProfile">New Password</label>
                                    <input type="password" name="newpassword" placeholder="New Password..."
                                        class="form-control">
                                </div>

                                <button type="submit" class="btn btn-danger btn-block">Update Password</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>